*{
	padding: 0;
	margin: 0;
	border-box: box-sizing;
	font-family: "Merriweather", serif;
}

body{
text-align: center;
}

html{
scroll-behavior: smooth;
}


.header{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: auto;
	background: #E4F9F5;
	position: fixed;
	padding: 5px 5px;
	top: 0px;
}

.display{
	display: none;
}

.open-menu{
	margin-top: 30px;
	cursor: pointer;
}

.section{
	margin-top: 100px;
}

.links-img{
border: 2px solid black;
width: 70px;
height: 70px;
border-radius: 150px;
position: relative;
left: 5px;
}

.header-links{
	list-style: none;
	display: flex;
	position: relative;
	top: 27px;
}

.contact-me p{
    margin: 50px auto;
}

.header-text{
	font-family: "Sacramento", cursive;
	font-size: 5rem;
	margin-bottom: 23px auto;
	color: #66BFBF;
	line-height: 2;
}

.course-text{
	margin: auto;
	text-align: left;
	position: relative;
	left: 40px;
	font-size: 15px;
}

.col-block{
	box-shadow: 0 0 5px 5px lightgray;
	padding: 10px 10px 40px 10px;
	flex-basis: 15%;
}

.courses_text{
	position: relative;
}

.course{
	width: 100%;
	margin:50px auto 50px;
	display: flex;
	justify-content: space-around;
}

.btn-buy{
	position: relative;
	top: 15px;
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	color: #ffffff;
	font-size: 20px;
	border-radius: 30px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.cuantety{
	position: relative;
	text-align: left;
	padding: 10px 10px;
	font-size: 30px;
	left: 10px;
	font-family: "Ink Free";
}

.blue-text{
	padding: 30px 0 34px;
	font-family: "Montserrat", sans-serif;
	color: #66BFBF;
}

hr{
	margin: 100px auto;
	border: dotted;
	width: 4%;
	border-bottom: none;
	color: lightgray;
}

h3{
	padding: 20px 0 24px;
	font-family:"Montserrat", sans-serif;
	color: #66BFBF;
}




.top-container{
	background: #E4F9F5;
	position: relative;
	padding-top: 100px;
}

.bottom-cloud{
	position: absolute;
}

.skill-back{
	background: #F2F3F4;
}

.message-container{
		background: #F2F3F4;
}

.top-cloud{
	position: absolute;
	right: 300px;
	top: 110px;
}



.links{
	background: #E4F9F5;
	width: 100%;
}



.logo-img{
border: 2px solid black;
width: 120px;
height: 120px;
margin-top: 30px;
float: left;
margin-right: 30px;
border-radius: 150px;
}


.chillis-img{
width: 120px;
float: right;
margin-left: 10px;
padding: 10px 10px;
border: 2px solid black;
border-radius: 100px;
}

.computer-img{
	width: 120px;
	float: left;
	border-radius: 100px;
	margin-right: 20px;
}

.skill-row{
	padding: 10px 10px;
	width: 50%;
	margin:50px auto 50px;
	text-align: left;
 	position: relative;
 	bottom: 40px;
}

.col-skill-description{
	clear: left;
}

.chillis-skill-description{
	clear: right;
}

.profile{
	padding: 20px;
	width: 50%;
	margin: 100px auto 100px;
	text-align: left;
	box-shadow: 0 0 10px 10px lightgray;
	font-size: 15px;
}


.bottom-container{
	position: relative;
	top: 100px;
	background: #66BFBF;
	padding:50px 0 20px;
}



.contact-message{
	width: 40%;
	margin: 40px auto 60px;
}

.btn{
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
}

.btn:hover{
	background: #30e3cd;
	background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
	background: linear-gradient(to bottom, #30e3cd, #2bc4ad);
	text-decoration: none;
}

a{
color: #11999E;
margin: 10px 20px;
text-decoration: none;
}

a:hover{
	color: white;
}


.write-post{
	margin: 50px auto 50px;
	display: flex;
	justify-content: space-between;
	width: 50%;
	text-align: left;
}

.write-box{
	display: flex;
	flex-direction: column;
}

.text-box p{
margin: 10px auto 10px;
}

.write-box input{
margin: 5px auto 5px;
}

.btn-send{
	color: white;
	background: #11cdd4;
	border-radius: 20px;
	padding: 10px 10px;
	cursor: pointer;
	width: 100px;
	margin: auto;
	position: relative;
	bottom: 20px;
}

.message{
max-width: 180px;
}

